<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button mode="md" color="light"></ion-back-button>
    </ion-buttons>
    <ion-title>Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main_content_div">

    <ion-list lines="none">

      <ion-item>
        <ion-icon slot="start" name="lock-closed"></ion-icon>
        <ion-label>Privacy</ion-label>
      </ion-item>

      <ion-item>
        <ion-icon slot="start" name="shield"></ion-icon>
        <ion-label>Security</ion-label>
      </ion-item>

      <ion-item>
        <ion-icon slot="start" name="ellipsis-horizontal"></ion-icon>
        <ion-label>Two-step verification</ion-label>
      </ion-item>

      <ion-item>
        <ion-icon slot="start" name="phone-portrait-outline"></ion-icon>
        <ion-label>Change Number</ion-label>
      </ion-item>

      <ion-item>
        <ion-icon slot="start" name="document-text"></ion-icon>
        <ion-label>Request account info</ion-label>
      </ion-item>

      <ion-item>
        <ion-icon slot="start" name="trash"></ion-icon>
        <ion-label>Delete my account</ion-label>
      </ion-item>


    </ion-list>

  </div>
</ion-content>