<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button mode="md" color="light"></ion-back-button>
    </ion-buttons>
    <ion-title>Data and storage usage</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main_content_div">

    <div class="list_div2" style="border-bottom: 1px solid lightgray;">

      <ion-label class="green_lbl">Usage</ion-label>

      <ion-list lines="none">

        <ion-item>
          <ion-label>
            <ion-text>
              <ion-label>Network usage</ion-label>
            </ion-text>
            <p style="white-space: pre-wrap;">500.34 MB • 15.3 GB Received</p>
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-label>
            <ion-text>
              <ion-label>Storage usage</ion-label>
            </ion-text>
            <p style="white-space: pre-wrap;">240.34 MB</p>
          </ion-label>
        </ion-item>

      </ion-list>

    </div>

    <div class="list_div2" style="border-bottom: 1px solid lightgray;">

      <ion-label class="green_lbl">Media auto-downloaded</ion-label>
      <ion-label class="simple_lbl">Voice message are always auto-downloaded for the best communications experience
      </ion-label>

      <ion-list lines="none">

        <ion-item>
          <ion-label>
            <ion-text>
              <ion-label>When using mobile data</ion-label>
            </ion-text>
            <p style="white-space: pre-wrap;">Photos</p>
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-label>
            <ion-text>
              <ion-label>When connected to Wi-Fi</ion-label>
            </ion-text>
            <p style="white-space: pre-wrap;">All Media</p>
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-label>
            <ion-text>
              <ion-label>When Roaming </ion-label>
            </ion-text>
            <p style="white-space: pre-wrap;">No Media</p>
          </ion-label>
        </ion-item>
      </ion-list>

    </div>

    <div class="list_div2" style="border-bottom: 1px solid lightgray;">

      <ion-label class="green_lbl">Call settings</ion-label>

      <ion-list lines="none">

        <ion-item>
          <ion-toggle mode="md" slot="end"></ion-toggle>
          <ion-label>
            <ion-text>
              <ion-label>Low data usage</ion-label>
            </ion-text>
            <p style="white-space: pre-wrap;">Reduce the data used in a call</p>
          </ion-label>
        </ion-item>

      </ion-list>

    </div>

  </div>
</ion-content>