.main_content_modal{
    padding: 16px;

    ion-label {
        display: block;
    }

    .bold_lbl{
        font-weight: 500;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .flex_div{
        display: flex;
        align-items: center;

        ion-input{
            border-bottom: 1px solid #505050;
            margin-bottom: 10px;
        }
        ion-icon{
            font-size: 22px;
            color: gray;
        }
    }

    .btn_div{
        width: 100%;
        text-align: right;
        margin-top: 20px;

        ion-button{
            color: var(--ion-color-main);
            font-weight: 600;
        }
    }
}